$ucf-gold: #ffc904;
$white: #fff;
$gray: #767676 !default; // modified
$gray-lighter: #eceeef !default;

$font-family-sans-serif: 'Helvetica Neue', Arial, sans-serif !default;
$font-family-slab-serif: serif;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

.resource-search {

  .resource-search-label {
    text-transform: uppercase;
  }

  .resource-search-input {
    font-size: 1.25rem;
    padding: 1em;
  }

  .resource-search-message {
    color: $gray;
    font-size: .8em;
    font-style: italic;
  }

  .resource-search-result-list {
    background-color: $gray-lighter;
    margin-top: 15px;
    padding: 20px 20px 20px 30px;

    @media (min-width: $screen-sm-min) {
      padding: 30px 30px 30px 40px;
    }

    // Caret
    &::before {
      border-color: transparent transparent $gray-lighter;
      border-style: solid;
      border-width: 0 15px 15px;
      content: '';
      left: 30px;
      position: absolute;
      top: -15px;

      @media (min-width: $screen-sm-min) {
        top: 0;
      }
    }
  }

  .jump-to-list {
    display: block;
    margin: 2em 0;

    @media (min-width: $screen-lg-min) {
      display: flex;
    }

    a {
      font-weight: normal;
      padding: .3em;
      width: 25px;
    }
  }

  .resource-search-heading-wrap {
    margin-top: .3em;

    @media (min-width: $screen-sm-min) {
      display: flex;
      justify-content: flex-end;

      h3 {
        line-height: 1;
        margin-bottom: auto;
        margin-right: auto;
      }

      .back-to-top {
        margin-top: auto;
      }
    }
  }

  .resource-search-heading {
    font-family: $font-family-slab-serif;
    font-size: 4em;
    font-weight: normal;
  }

  hr {
    background-color: $ucf-gold;
    border: none;
    color: $ucf-gold;
    height: 10px;
    margin-top: .5em;
  }

  .resource-search-list {
    padding-left: 1.4em;

    li {
      margin-bottom: .5em;
    }
  }
}
